<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="box">научные факты</div>
    </header>
    <main>
        <div class="box">
        <h1>Добро пожаловать на мой сайт</h1>
        <p>{{result}}
            <a class="button" href="/">новый факт</a>
            </div>
            <div class="container">
            <img class="images" src="../static/img/i (1).webp">
                 </div>
    </main>
    <footer>
        <div class="box">test@gmail.com</div>
    </footer>
</body>
</html>
